*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

.section{
    width: 100%;
    height:100vh;
    background-image: -webkit-linear-gradient(30deg, #fff 50%, #f4f4f4 50%);
}

.cards{
    display: flex; 
    align-items: center; 
    justify-content: center;  
    padding-top: 7rem;
}  

.section ul {
    width: 20%;
    list-style: none;
    transition: 0.3s; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
    margin-right: 5rem;
}

.section ul li{     
    text-align: center; 
    padding: 1.4rem; 
    text-transform: uppercase;    
}

.section ul:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.section ul li p{
    font-size: 1rem; 
}

.section ul:last-child{
    margin-right: 0;
}

.section .button a{
    text-decoration: none;    
    font-weight: 700;  
    padding: 10px 50px; 
    border-radius: 50px;
    -webkit-box-shadow: 5px 5px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 18px -7px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 18px -7px rgba(0,0,0,0.75);
}

.color{ 
    text-align: center;
    padding-top: 5rem;
}

.color a {
    text-decoration: none;
    color: #fff; 
    font-weight: 700; 
    background-color: #218c74; 
    padding: 10px 50px; 
    border-radius: 50px;
    -webkit-box-shadow: 5px 5px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 18px -7px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 18px -7px rgba(0,0,0,0.75);
    transition: 0.2s; 
    margin-right: 1rem; 
}

.color a:hover{
    padding: 12px 52px;
}
   
@media only screen and (max-width:600px){
 
    .section{
      height: 100%;
    }  
    
    .section .cards{
      flex-direction: column;
      padding-top: 2rem;
    }  
    
    .section ul{
      width: 70%;
      margin: 2rem;
    }
    .section ul:last-child{
      margin-right: 2rem;
    }
  
    .color a{
      margin-right: 0;
    }
  
}

@media only screen and (max-width:1280px){

    .section ul:last-child{
      margin-right: 1rem;
    }
    
    .section ul {
      width: 80%; 
      margin: 1rem;
    }
  
}